<div ng-controller="xsWeb.liveHall.mainCtrl as liveHallCtrl">
	<!-- Header -->
	<!--<div id="header" class="alt">-->
		<!--<h1><a href="liveHall.html">OTZS-1207</a></h1>-->
		<!--<nav id="nav">-->
			<!--<ul>-->
				<!--<li><a href="liveHall.html">Home</a></li>-->
				<!--<li>-->
					<!--<a href="" class="icon fa-angle-down">Layouts</a>-->
					<!--<ul>-->
						<!--<li><a href="generic.html">Generic</a></li>-->
						<!--<li><a href="contact.html">Contact</a></li>-->
						<!--<li><a href="elements.html">Elements</a></li>-->
						<!--<li>-->
							<!--<a href="">Submenu</a>-->
							<!--<ul>-->
								<!--<li><a href="#">Option One</a></li>-->
								<!--<li><a href="#">Option Two</a></li>-->
								<!--<li><a href="#">Option Three</a></li>-->
								<!--<li><a href="#">Option Four</a></li>-->
							<!--</ul>-->
						<!--</li>-->
					<!--</ul>-->
				<!--</li>-->
				<!--<li><a href="#" class="button">Sign Up</a></li>-->
			<!--</ul>-->
		<!--</nav>-->
	<!--</div>-->
	<div class="htmleaf-container" ng-show="liveHallCtrl.loginShow">
		<div class="wrapper_signUp">
			<div class="container_signUp">
				<span class="wrapper_signUp_icon_close" ng-click="liveHallCtrl.funcGetLoginUpClose()"><i class="icono-crossCircle"></i></span>

				<h1>Welcome</h1>

				<div class="form_signUp">
					<input type="text" class="form_signUp_input_text" ng-model="liveHallCtrl.login_v.loginMobile" placeholder="Phone" maxlength="11">
					<input type="password" class="form_signUp_input_text" ng-model="liveHallCtrl.login_v.loginPassword" placeholder="Password">
					<button type="submit" class="form_signUp_button" id="login-button" ng-click="liveHallCtrl.login_v.funcRegLoginAction()">Login</button>
				</div>
			</div>

			<ul class="bg-bubbles_signUp">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
	<!-- Banner -->
	<div id="banner">
		<h2>OTZS-1207</h2>
		<!--<p>Another fine responsive site template freebie by bootstrap.cn.</p>-->
		<ul class="actions">
			<li><a class="button special" ng-click="liveHallCtrl.funcGetLoginUp()">Sign Up</a></li>
			<li><a href="#" class="button">Learn More</a></li>
		</ul>
	</div>
</div>